body {
  
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("pateada\ copy.jpg");
  background-size: cover;      
  background-position: center;    
  background-repeat: no-repeat; 
  color: #1b5e20;
}

header {
  background-color: #2e7d32;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
}

.intro {
  background-color: white;
  margin: 20px auto;
  max-width: 900px;
  padding: 15px 25px;
  border-left: 6px solid #66bb6a;
  border-radius: 10px;
  font-size: 1.1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: white;
  max-width: 960px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 20px;
  border: #66bb6a solid 4px;
  box-shadow: 0 0 12px rgba(0, 128, 0, 0.1);
}

h2 {
  color: #1b5e20;
  margin-bottom: 20px;
}

button {
  background-color: #43a047;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e7d32;
}

/* Mapa */
iframe {
  border: 2px solid #66bb6a;
  border-radius: 12px;
  margin-top: 15px;
}
header { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
  color: white; 
}

header h1 {
   margin: 0; 
}
nav a { 
  color: white;
   text-decoration: none;
    margin-left: 15px;
}
nav a:hover {
   text-decoration: underline;
}
#user-greeting { 
  margin-left: auto;
}
#user-greeting span { 
  font-weight: bold;
}
#logout-button { 
  background-color: #ffffff;
   color: #2e7d32;
  border: none;
  padding: 5px 10px; 
  border-radius: 3px; 
  cursor: pointer; 
  margin-left: 10px; 
}

#logout-button:hover { 
  background-color: #c9302c; 
}

/* Responsividad para móviles */
@media screen and (max-width: 768px) {
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  .container {
    padding: 20px 15px;
  }

  iframe {
    height: 400px;
  }
}






