body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5fff5; 
    background: linear-gradient(to right, #d4fcd4, #f0fff0); 
    margin: 0;
    padding: 20px;
}
p{
    text-align: center;
    font-size: 14px;
    color: #4a4a4a; 
}
h2 {
    text-align: center;
    color: #236d1e;
}

.no-reservas {
    text-align: center;
    margin-top: 50px;
    padding: 30px; 
    border: 2px solid  #236d1e; 
    border-radius: 15px; 
    background-color: #baf5ba; 
    color: #1a5a1a; 
    font-size: 1.5em; 
    font-weight: bold; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
}

.reserva {
    background-color: #e8fbe8;
    border: 2px solid#236d1ee3;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: large;
}

.reserva p {
    margin: 5px 0;
    color: #333; 
    text-align: left; 
    font-size: 1em;
}

.btn-cancelar {
    background-color: #d9534f;
    color: white;
    border:#333 solid 2px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
    background-color: #c9302c;
}